body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.outfit-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: center;
  font-style:normal;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  
}

img {
  width: 100%;
  border-radius: 10px;
}
.paragraph{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}
